*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

li {
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
  }

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main > div {
    visibility: hidden;
}

#main {
    height: 100%;
    width: 100%;
}

#menu {
    height: fit-content;
    width: fit-content;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
}

#lobby {
    height: fit-content;
    width: fit-content;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
}

#game {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    visibility: hidden;
    align-items: center;
    justify-content: space-between;
}

#endScreen {
    height: fit-content;
    width: fit-content;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game > div {
    text-align: center;
}

#centerScreen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-image: url("sample.png"); */
    /* transform: translate(100% -100%); */
}

.board {
    width: 40vh;
    height: 40vh;
    justify-content: center;
    display: grid;
    transition: height 1s, width 1s;
    image-rendering: optimizeQuality;
}

#ships {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

#leftScreen {
    height: 100%;
}

.empty {
    background-color: blue;
}

.hinted {
    background-color: gray;
}

.board > .filled {
    background-color: green;
}

.board > .shot {
    background-color: red;
}

.board > .shotShip {
    background-color: purple;
}

.rot0 {
    transform: rotate(0deg);
}

.rot1 {
    transform: rotate(90deg);
}

.ship {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    transition: transform 0.5s;
}

.ship.size1 {
    background-image: url("content/ships/Plane/PlaneF-35Lightning2.png");
}

.ship.size2 {
    background-image: url("content/ships/Destroyer/ShipDestroyerHull.png");
}

.ship.size3 {
    background-image: url("content/ships/Cruiser/ShipCruiserHull.png");
}

.ship.size4 {
    background-image: url("content/ships/Battleship/ShipBattleshipHull.png");
}

/* #ships > div {
    background-image:
    linear-gradient(to right, black 0 5%, transparent 5% 95%, black 95% 100%),
    linear-gradient(to bottom, black 0 5%, transparent 5% 95%, black 95% 100%);
} */

#login {
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register {
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board > div {
    background-image:
    linear-gradient(to right, black 0 5%, transparent 5% 95%, black 95% 100%),
    linear-gradient(to bottom, black 0 5%, transparent 5% 95%, black 95% 100%);
    pointer-events: auto;
    cursor: pointer;
}